<html>
  <head>
    <title>Contact</title>
  <body> 


	<center>
		<form action="/welcome" method="get">
		<label> <span> Tell me your name... </span><br>
			<br>
		  <input type="text" placeholder="Your name" name="first_name" required/>
		  <input type="submit" class="btn btn-dark" value="Confirm" />
		</form>
	</center>

</body>
</html>